.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.card {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 1rem;
  margin: 1rem auto;
  width: 40%;
  box-shadow: 0 3px 7px -1px 
}

.instructions-link {
  display: flex;
  align-content: flex-end;
}

/* .recipecards {
  display: flex;
  align-items: flex-end;
  flex-direction: column-reverse;
} */