body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: white;
  background-size: 100vw;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.main {
  justify-content: center;
}

.main-title {
  color: rgb(9, 120, 240);
  text-align: center;
}

.main-subtitle {
  color: rgb(9, 120, 240);
  text-align: center;
}

.ingredient-prompt {
  color: black;
  text-align: left;
  justify-content: left;
}

.ingredients {
  color: black;
  text-align: left;
  justify-content: left;
}

.ingredient-container {
display: flex;
flex-direction: column;
}

.card {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 1rem;
  margin: 1rem auto;
  width: 40%;
  box-shadow: 0 3px 7px -1px 
}